body {
  font-family: Charter;
  background-color: #fff8f6;
  font-size: 15px;
  margin: 0;
  color: #4e4e4e;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

table {
  padding: 5px 10px;
  font-size: 0.7rem;
  background: #f7f7f7;
  overflow: auto;
}

th {
  text-align: left;
  padding: 5px;
}

td {
  padding: 0px 5px;
}

b {
  font-size: 1.1rem;
  line-height: 2rem;
}

#org {
  background-color: white;
  padding: 50px;
  width: 50%;
  /* height: auto; */
}

pre {
  background: #ececec;
  font-size: 0.8em;
  padding: 4px 5px;
  overflow: auto;
  margin: 20px 0px 20px 20px;
}

#loader {
  height: 5px;
  background-color: #e7e7ff;
  width: 60%;
  margin: 50px 20%;
  overflow: hidden;
}

#bar {
  height: 100%;
  background-color: #3029ff;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading{
  0% {margin-left: -20%; width: 20%}
  100% {margin-left: 100%; width: 20%}
}


.section-number {
  font-size: 0.5em;
  padding: 5px;
  color: #b6b7bd;
}

h3, h3.inactive {
  font-size: 150%;
  font-style: italic;
  font-weight: normal;
  background-color: white;
  padding: 10px 5px;
  border-bottom: 1px dotted #efefef;
  width: 90%;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.11);
  border-radius: 10px;
}

h3.active {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(87, 67, 155, 0.64)
  border-radius: 10px;
  color: black;
}

h3:hover{
  box-shadow: 0 1px 6px 0 rgba(111, 35, 223, 0.23);
}

h3:first-child{
  margin-top: 0;
  padding: 10px 5px;
  width: 90%;
}

h4, h5, h6, h7, h8 {
  font-size: 120%;
  font-style: italic;
  font-weight: normal;
  border-bottom: 1px dotted #efefef;
  padding: 5px 5px 10px;
  width: 90%;
  margin-bottom: 19px;
  /* background-color: #fdfdfd */
}

h7, h8{
  background-color: #fefefe;
  border-bottom: none;
}

.line{
  white-space: pre-line;
  padding: 8px 0px;
  line-height: 1.5rem;
  font-size: 0.9em;
  margin-left: 20px;
}

p {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #511de3;
}

li {
  padding: 0px 0px;
  line-height: 1.5rem;
  font-size: 0.9em;
}

#message {
  background-color: white;
  padding: 50px;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
  box-shadow: 0 1px 6px 0 rgba(170, 167, 179, 0.32);
}
.explain {
  padding: 20px 0px;
  text-align: center;
  font-size: 15px;
  color: #8178a2;
}

.explain a{
}

.message a {
  text-decoration: underline;
}

.detail{
  font-size: 80%;
  padding: 15px 0px;
  border-top: 1px dotted #ececec;
  margin: 0;
}

blockquote .line {
  padding-top: 0px;
  font-style: oblique;
  font-size: 0.7rem;
}

blockquote {
  background: #f7f7f7;
  font-size: 0.7em;
  padding: 10px 20px 10px 0px;
  overflow: auto;
  margin: 20px;
}

.prettyprint {
  background-color: #f8f8f8;
  padding: 0px;
  margin-left: 20px;
}

code {
  padding: 10px 5px;
}

.prettyprint code {
  padding: 15px 20px 0px;
  margin-left: 0px;
}

code, .results {
  /* white-space: pre-line; */
  line-height: 1.2rem;
  font-size: 0.6rem;
}

.results {
  margin: 0;
  background: #fbf7f3;
}

p.results {
  padding: 0px 12px;
}

img {
  max-width: 90%;
  height: auto;
}

.toggleblock {
  cursor: pointer;
  background: linear-gradient(to right, #f9f9f9, #f2f1f5);
  padding: 10px 20px;
  color: #7a6fff;
  font-size: 12px;
  margin: 0px;
  font-family: charter;
  border-bottom: 1px solid #f2f1f5;
  text-align: center;
  box-shadow: 0 1px 6px 0 rgba(45, 46, 48, 0.03);
}

@media screen and (max-width: 780px) {
  #org {
    font-size: 14px;
    /*! margin-left: 0px; */
    /*! width: auto; */
    padding: 0 !important;
    width: 100% !important;
  }
  h3.active{
    border-radius: 0px !important;;
  }
 
  h3, h3:first-child, h3.inactive {
    padding: 15px 5%;
    border-bottom: 1px solid #ececec;
    width: 90%;
    margin: 0 0 0px 0;
    border-radius: 0px;
  }
  h3 {
    margin-top: 0px;
  }
  h3.active{
    box-shadow: 0 1px 6px 0 rgba(96, 52, 219, 0.42);
  }
  h4, h5, h6, h7, h8 {
    padding: 10px 5%;
    width: 90%;
    margin: 0px;
  }
  .line {
    padding: 10px 15px 10px 5px;
    margin-left: 20px;
  }
  .prettyprint {
    margin: 20px;
  }
  pre {
    margin: 20px;
  }
  blockquote{
    margin: 15px 0px;
  }
  #message {
    border-radius: 0;
    padding: 20px 0px 15px;
    margin: 50px 0;
    width: 100%;
  }
  #loader {
    height: 5px;
    width: 60%;
    margin: 35px 20%;
    overflow: hidden;
  }
  .explain {
    margin: 0px 10% 30px;
    text-align: center;
    font-size: 13px;
    width: 80%;
    padding: 0;
  }
}
